{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
<style>

div.cont-wrapper {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin:auto;
  max-width:648px;
  min-height:100vh;
}
</style>
 
{% endblock stylesheet %}

{% block main_content %}
<div class="cont-wrapper">
    <a href="{% url 'home' %}" style="text-decoration: none;">
        <img src=" {% static 'images/logo.svg' %} " alt="" style="width: 68px; height: 68px; border-radius: 50%;" /> 
        MT&RA support team
      </a>
    <p>Your password has been set. you may go ahead and  <a href="{% url 'accounts:login' %}" class="primary_btn2" style="color:#000; font-weight:800"> sign in</a> now</P>

</div>


{% endblock main_content %} 