{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
<style>
input[type=text],input[type=email], select {
  width: 80%;
  padding: 8px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit],button[type=submit] {
  width: 30%;
  background-color:#011527;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}

button[type=submit]:hover {
  background-color: #031e3c;
}

div.cont-wrapper {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin:auto;
  max-width:648px;
  min-height:100vh;
}
p{
  margin:0px
}
label{
  font-weight:900;
  font-size:16px;
}
</style>

 {% endblock stylesheet %}
{% block main_content %}
    <div class="cont-wrapper">
      <a href="{% url 'home' %}" style="text-decoration: none;">
        <img src=" {% static 'images/logo.svg' %} " alt="" style="width: 68px; height: 68px; border-radius: 50%;" /> 
        MT&RA support team
      </a>
    

      <h3>Forgot password or change your login password ?</h3>
      <p>Enter the email address you used to register your account at <b>MT&RA</b> for the password reset info to be emailed to you</P>
        <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Submit</button>
      </form>
    </div>

{% endblock main_content %}
