    @font-face {
        font-family: 'Karla';
        src: url('../fonts/Karla/Karla-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    
    * {
        margin: 0;
        padding: 0;
        border: none;
        box-sizing: border-box;
        outline: none !important;
        text-rendering: optimizeLegibility;
    }
    
    body {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        font-family: Karla, sans-serif;
    }
    
    body.body-dark_bg {
        background-color: rgb(2, 0, 12);
    }
    
    .fullscreen {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
        padding-bottom: 2rem;
        min-height: 100%;
        background-color: rgb(2, 0, 12);
    }
    /* .fullscreen_header {
        margin-left: auto;
        margin-right: auto;
        padding-right: 3rem;
        padding-left: 3rem;
        max-width: 68rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 4.4rem;
        width: 100%;
    } */
    
    .logo {
        display: block;
        width: 20rem;
        height: 6rem;
        text-decoration: none;
    }
    
    .fullscreen-inner_cont {
        margin-left: auto;
        margin-right: auto;
        padding-left: 3rem;
        padding-right: 3rem;
        max-width: 68rem;
        /* width: 40%; */
    }
    
    .sign-up {
        padding: 1rem 2rem 3rem 1.2rem;
        background: #1f2932;
    }
    
    .sign-up_desc {
        margin-bottom: 3rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 30rem;
        color: #f1f1f1;
        font-size: 1.2rem;
        line-height: 1.5;
        text-align: center;
    }
    
    .sign-up_field {
        margin-bottom: 1.5rem;
        text-align: center;
    }
    
    .field {
        flex-grow: 1;
        position: relative;
        width: 100%;
    }
    
    .field_input {
        display: block;
        padding-left: 2rem;
        padding-right: 2rem;
        width: 100%;
        color: #130118;
        background: #fff;
        border: .1rem solid #dbdee7;
        border-radius: 20px;
        outline: 0;
        font-size: 1.2rem;
        line-height: normal;
    }
    
    .field_icon {
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        font-size: 1.6rem;
        color: #290e02;
    }
    
    .field_with-icon .field_input {
        padding-left: 4.2rem;
        height: 3rem;
    }
    
    .sign-up_footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .sign-up_btn {
        background: #011527;
        color: #fff;
        border: none;
        padding: .6rem 3.2rem;
        font-weight: 600;
        font-size: .8rem;
        display: inline-block;
        border-radius: 20px;
        outline: 0;
        text-decoration: none;
        height: 3rem;
        text-transform: uppercase;
    }
    
    .full-view_footer {
        margin: auto;
        padding-left: 3rem;
        padding-right: 3rem;
        max-width: 68rem;
        margin-top: 1rem;
        width: 100%;
        text-align: center;
    }
    
    .full-view_quiz {
        margin-bottom: .6rem;
        color: #96959c;
        font-size: 1rem;
        line-height: 1.25;
    }
    
    .full-view_quiz a {
        color: #3e6ced;
        text-decoration: none;
        transition: color .2s ease;
        background-color: transparent;
    }
    
    .notice {
        color: #96959c;
        font-size: .8rem;
        line-height: 1.69231;
    }
    
    .notice a {
        color: #7b7b7b;
        text-decoration: none;
        transition: all .2s ease;
    }
    
    .notice a:hover {
        color: #fff;
    }
    
    @media only screen and (max-width:648px) {
        .fullscreen {
            padding-top: 0rem;
            padding-bottom: 1rem;
        }
        .fullscreen_header {
            padding-right: 1.2rem;
            padding-left: 1.2rem;
            max-width: 68rem;
            display: flex;
            margin-bottom: 3rem;
        }
        .logo {
            display: block;
            width: 20rem;
            height: 20rem;
            text-decoration: none;
        }
        .fullscreen-inner_cont {
            padding-left: 1rem;
            padding-right: 1rem;
            max-width: 56rem;
            width: 100%;
        }
        .sign-up {
            padding: 3rem 1rem 3rem 1rem;
        }
    }