<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home | MT&RA </title>
    <link rel="icon" href="{% static 'images/logo.svg' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/main.css' %} ">
    <link rel="stylesheet" href="{% static 'css/fontawesome-free-5.2.0-web/css/all.css' %}">
    {% block stylesheet %}
 
    {% endblock stylesheet %}
</head>

<body>
    <noscript>
        <strong>
            We're sorry but livin inc doesn't work properly without javascript enabled.Please enable it to
            continue.
        </strong>      
    </noscript>
    <div id="app">
       {% block main_content %}
       {% endblock main_content %}
        
    </div>
    <a href="#" id="back-top" title="Back to top">&#10148;</a>
</body>
<script src="{% static 'js/jquery-3.3.1.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</html>